In [1]:
from pmaw import PushshiftAPI 
import datetime as dt
import p                         #library for data manipulation
import matplotlib.pyplot as plt
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import RegexpTokenizer
from cleantext import clean
import nltk

In [28]:
api = PushshiftAPI()

In [29]:
before = int(dt.datetime(2023,2,1,0,0).timestamp())
after = int(dt.datetime(2023,1,31,0,0).timestamp())

In [30]:
subreddit="Stocks"
limit=500
comments = api.search_comments(subreddit=subreddit, limit=limit, before=before, after=after)
print(f'Retrieved {len(comments)} comments from Pushshift')

Retrieved 500 comments from Pushshift

In [31]:
comments_df = pd.DataFrame(comments)
# preview the comments data
comments_df.head(5)

,subreddit_id,author_is_blocked,comment_type,edited,author_flair_type,total_awards_received,subreddit,author_flair_template_id,id,gilded,...,subreddit_name_prefixed,controversiality,author_flair_background_color,collapsed_because_crowd_control,distinguished,retrieved_utc,updated_utc,body_sha1,utc_datetime_str,nest_level
0,t5_2qjfk,False,None,False,text,0,stocks,None,j6qn8sa,0,...,r/stocks,0,None,None,None,1675227527,1675227528,89462df0c5b4cb50a4753ff6448e1946ea2a586d,2023-02-01 04:58:31,NaN
1,t5_2qjfk,False,None,False,text,0,stocks,None,j6qn8eu,0,...,r/stocks,0,None,None,None,1675227518,1675227519,5db03d7b5ccc45aff27d2961f9f1fbd41584a130,2023-02-01 04:58:25,NaN
2,t5_2qjfk,False,None,False,text,0,stocks,None,j6qn5nl,0,...,r/stocks,0,None,None,None,1675227480,1675227481,787ed8b68c3acd70f2b528157502310c0b0c3226,2023-02-01 04:57:42,NaN
3,t5_2qjfk,False,None,False,text,0,stocks,None,j6qn30a,0,...,r/stocks,0,None,None,None,1675227433,1675227434,5179cef13962ba7955570b6cd3af7de2cd19eedc,2023-02-01 04:57:01,NaN
4,t5_2qjfk,False,None,False,text,0,stocks,None,j6qn1gm,0,...,r/stocks,0,None,None,None,1675227409,1675227411,42ca5113fefbc1ab674d0b4dcadb7c7376b19606,2023-02-01 04:56:36,NaN

In [32]:
comments_df.to_csv('./stocks.csv', header=True, index=False, columns=list(comments_df.axes[1]))

In [33]:
data = pd.read_csv("./stocks.csv")

In [34]:
data['body'][0:5]

0    its that simple, problem is that it tends to f...
1    Man 6.25 average im jealous im over 2x that an...
2    Google is in serious peril from the latest ant...
3                                      Don‚Äôt do it ffs
4                    Maybe you‚Äôre right but I doubt it
Name: body, dtype: object

## Word Tokenize

## Stopwords Removal

In [23]:
from nltk.corpus import stopwords
sws = set(stopwords.words('english'))
sents = []
for post in data['body']:
    words = nltk.word_tokenize(post)
    sents.append(' '.join([w.lower() for w in words if w.lower() not in sws]))
    
sents[0:5]

['simple , problem tends fail never go full 100 %',
 "man 6.25 average im jealous im 2x still n't 500 lol",
 "google serious peril latest anti trust lawsuit . 's going hurt critical time whether win .",
 '‚Äô ffs',
 'maybe ‚Äô right doubt']

## Sentiment Analysis

In [39]:
reddit_posts = [post for post in data['body']]

In [40]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
scores = []
for i, sentence in enumerate(reddit_posts):
    data = sid.polarity_scores(sentence)
    data['text'] = sentence
    data['tindex'] = i
    scores += [data]
df = pd.DataFrame(scores)
df.head()

,neg,neu,pos,compound,text,tindex
0,0.307,0.693,0.000,-0.7351,"its that simple, problem is that it tends to f...",0
1,0.291,0.709,0.000,-0.6522,Man 6.25 average im jealous im over 2x that an...,1
2,0.468,0.441,0.091,-0.8927,Google is in serious peril from the latest ant...,2
3,0.559,0.441,0.000,-0.5859,Don‚Äôt do it ffs,3
4,0.394,0.606,0.000,-0.5023,Maybe you‚Äôre right but I doubt it,4

In [42]:
subreddit="Stocks"
limit=500
apple_comments = api.search_comments(q="APPLE", subreddit=subreddit, limit=limit, before=before, after=after)
print(f'Retrieved {len(apple_comments)} comments from Pushshift')

Retrieved 46 comments from Pushshift

In [43]:
apple_df = pd.DataFrame(apple_comments)
# preview the comments data
apple_df.head(5)

,subreddit_id,author_is_blocked,comment_type,edited,author_flair_type,total_awards_received,subreddit,author_flair_template_id,id,gilded,...,subreddit_name_prefixed,controversiality,author_flair_background_color,collapsed_because_crowd_control,distinguished,retrieved_utc,updated_utc,body_sha1,utc_datetime_str,nest_level
0,t5_2qjfk,False,None,False,text,0,stocks,None,j6q8nrn,0,...,r/stocks,0,None,None,None,1675220239,1675220240,e5e625c187684a0f01f2297a580421cdf2dff8a3,2023-02-01 02:57:01,NaN
1,t5_2qjfk,False,None,False,text,0,stocks,None,j6q1sfn,0,...,r/stocks,0,None,None,None,1675217230,1675217231,93601bb7c616b29bb882ffdeb37e46b433e8c9e2,2023-02-01 02:06:53,1.0
2,t5_2qjfk,False,None,False,text,0,stocks,None,j6ppyve,0,...,r/stocks,0,None,None,None,1675212070,1675212070,d6f720918a7ee618b280199a0cf358cea0b627ce,2023-02-01 00:40:54,NaN
3,t5_2qjfk,False,None,False,text,0,stocks,None,j6pkcl7,0,...,r/stocks,0,None,None,None,1675209722,1675209723,3317d6511071919215fa3dd76ef5bcdd4a781f75,2023-02-01 00:01:46,NaN
4,t5_2qjfk,False,None,False,text,0,stocks,None,j6p9rmg,0,...,r/stocks,0,None,None,None,1675205430,1675205431,74482a7e84f1f33a0d953a1e6a7b813355cef997,2023-01-31 22:50:10,NaN

In [44]:
apple_df['body']

0     That's funny because I remember the Snap CEO w...
1             I stopped using apple products years ago.
2     You can just look at the google play store. Ho...
3     No one said they had to. You clearly don‚Äôt und...
4     Apple‚Äôs App Tracking Transparency destroyed th...
5                        Only apple can play that card.
6     Look I'm all for shitting on Apple, and I've g...
7          That's how a lot of the Apple fanbase works.
8     This feels like an Intel situation though it's...
9     Thanks. Actually I took an online course that ...
10    Am I holding Apple as a bond or as stock? If I...
11    Good. Apple‚Äôs support getting worse and worse ...
12    &gt; Apple is probably going to show growth EP...
13    99% of people won‚Äôt touch another App Store an...
14         Time to buy some of Tim Apple's stock, soon.
15    &gt;\tAnd that is how you know that shit is ba...
16    The sad truth is that if Meta does back away f...
17    Yeah, it might.... that being said Apple alway...
18    With every new color released another record i...
19    There's no guarantee Apple isn't going to cut ...
20    You know what I don't mind that actually the A...
21    so the idea is to invest in those companies th...
22    I'm with you. But I think a lot of.the "buyers...
23    Well I have seen this one before. Everyone say...
24    I figured. Thanks for the response. Apple trad...
25    Glancing over the reports this is primarily du...
26    Samsung has been stuffing the channel, there w...
27                 An apple a day keeps the doctor away
28    &gt; App Store is fucked long term\n\nThat is ...
29    They will be fine.   Google and Apple are my f...
30    Funny how recession was mentioned a lot when t...
31                Apple is going to make a huge profit.
32    Microsoft, Apple, Google and decide if Tesla a...
33                                Tim Apple for the win
34    Invest into really quality companies.     My f...
35                           Time to get Tim Apple back
36                                 God Blesse Tim Apple
37    And that is how you know that shit is bad I me...
38                         Apple country, let‚Äôs ride! üê¥
39    Great long term investment would always be an ...
40    Your method is good but no one knows the futur...
41                                   Apple for the win.
42    I actually welcome this take, feels like Apple...
43    Sorry, your [submission](https://www.reddit.co...
44    Well at least I personally never had any kind ...
45    This sounds like random gambling at this point...
Name: body, dtype: object

In [46]:
apple_comments = [comment for comment in apple_df['body']]
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
scores = []
for i, sentence in enumerate(apple_comments):
    apple_data = sid.polarity_scores(sentence)
    apple_data['text'] = sentence
    apple_data['index'] = i
    scores += [apple_data]
apple_dataFrame = pd.DataFrame(scores)
apple_dataFrame.head()

,neg,neu,pos,compound,text,index
0,0.027,0.751,0.222,0.8779,That's funny because I remember the Snap CEO w...,0
1,0.275,0.725,0.000,-0.2263,I stopped using apple products years ago.,1
2,0.136,0.656,0.207,0.4019,You can just look at the google play store. Ho...,2
3,0.090,0.862,0.048,-0.0772,No one said they had to. You clearly don‚Äôt und...,3
4,0.069,0.904,0.026,-0.4798,Apple‚Äôs App Tracking Transparency destroyed th...,4